<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  <body>

    <header id="cabecera">
       <!--- <a href="/"><img class="logotipo" alt="logotipo" src="../img/Paradise_transparente.png"></a> -->
       <a href="/">
        <img class="logotipo" alt="logotipo" src="/img/paradise_transparente.png">
      </a>  
       
       <nav id="navegacion">    
            <ul id="izquierda">
            <li class="listaNavegacion"><a href="/">Paradise Resort</a></li>
            <li class="listaNavegacion"><a href="/">Instalaciones</a></li>
            <li class="listaNavegacion"><a href="/">Ofertas</a></li>
            
            
            
            </ul>
            <ul id="derecha">
              <!-- <li class="listaNavegacion"><button class="login" id="login"> Iniciar sesión </button></li> -->
              <li class="listaNavegacion"><div id="nombre"></div></li>
              <li class="listaNavegacion"><button class="login" id="login" onclick="cerrar()"> Cerrar sesión </button></li>
              <script src="/javascripts/database.js"></script> 
              
            </ul>
               
        </nav>
    </header>
    
    <h1>Soy camarero</h1>

    
    
    
    
    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js""></script>
    <script type="module">

      var config = {
        apiKey: "AIzaSyDI4HbhlpQpot5ZfHRgckU5hhGtSs07Gzs",
        authDomain: "hotel-8994a.firebaseapp.com",
        projectId: "hotel-8994a",
        storageBucket: "hotel-8994a.appspot.com",
        messagingSenderId: "782345019030",
        appId: "1:782345019030:web:67e4c80427fcccf3b6ecb7",
        measurementId: "G-VY0VFV415N"
      };

     firebase.initializeApp(config);

    </script>
   

    
  </body>
</html>