<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  <body>
    <div id="menu">
        <menu-card
            title="Lasaña"
            image="https://assets.unileversolutions.com/recipes-v2/232080.jpg">
        </menu-card>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="../routes/menu.js"></script>
  </body>
</html>
