<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  
  <body>

    <header id="cabecera_rest">
      <a href="/">
        <img class="logotipo" alt="logotipo" src="/img/paradise_transparente.png">
      </a> 
      
      <h1>PARADISE RESORT RESTAURANT</h1>
    </header>

    <h3 class = "title">Disfruta de nuestros exquisitos platos</h3>

    <div id="menu">
        <h2> Pastas </h2>
        <menu-card title="Lasaña" image = "https://assets.unileversolutions.com/recipes-v2/232080.jpg"></menu-card>
        <menu-card title= 'Tortellini' image = "https://unareceta.com/wp-content/uploads/2016/10/tortellini.jpg"></menu-card>
        <menu-card title = 'Saquitos de pera' image = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGUAMDTdNkuhv23urZd0ToKy3Ue--6MshPwQ&usqp=CAU"></menu-card>
        <menu-card title = "Ñoquis" image = 'https://cdn.elcocinerocasero.com/imagen/receta/1000/2016-05-26-18-07-22/noquis-con-salsa-bolonesa.jpeg'></menu-card>

        <h2> Pizzas </h2>
        <menu-card title = 'Barbacoa' image= "https://okdiario.com/img/2015/09/08/receta-pizza-barbacoa-655x368.jpg"></menu-card>
        <menu-card title= 'Carbonara' image= 'https://images.hola.com/imagenes/cocina/recetas/20200120158507/pizza-carbonara-con-huevo/0-770-845/pizza-carbonara-con-huevo-t.jpg'></menu-card>
        <menu-card title= 'Marinera' image= 'https://i.pinimg.com/originals/dc/aa/c2/dcaac2b0e856eb586932c0c0c5cc94e9.jpg'></menu-card>
        <menu-card title= '4 quesos' image= 'https://recetinas.com/wp-content/uploads/2018/04/pizza-cuatro-quesos.jpg'></menu-card>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="/web_comp/menu.js"></script>
  </body>
</html>

<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  
  <body>

    <header id="cabecera_rest">
      <a href="/">
        <img class="logotipo" alt="logotipo" src="/img/paradise_transparente.png">
      </a> 
      
      <h1>PARADISE RESORT RESTAURANT</h1>
    </header>

    <h3 class = "title">Disfruta de nuestros exquisitos platos</h3>

    <div id="menu">
        <h1> Pastas </h1>
        <menu-card 
            v-for="(pasta, index) in pastas"
            :key = "index"
            :title = "pasta.title"
            :image ="pasta.image">
        </menu-card>
        <h1> Pizzas </h1>
        <menu-card 
            v-for="(pizza, index) in pizzas"
            :key = "index"
            :title = "pizza.title"
            :image ="pizza.image">
        </menu-card>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="/web_comp/menu.js"></script>
  </body>
</html> -->

