<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  
  <body>

    <header id="cabecera_rest">
      <nav id="navegacion">
      <a href="/">
        <img class="logotipo" alt="logotipo" src="/img/paradise_transparente.png">
      </a> 
      
      <h1>PARADISE RESORT RESTAURANT</h1>
      
      <ul id="derecha">
      <li class="listaNavegacion"><button class="login" id="login" onclick="cerrar()"> Cerrar sesión </button></li>
      <script src="/javascripts/database.js"></script>
      </ul> 
    </nav>
    </header>

    <h1 class = "title">Disfruta de nuestros exquisitos platos</h1>
    <h1 class = "title">~ MENU ~ 
      <a href="/cartavirtual"> (Menu virtual) </a>
    </h1>
    

    

    <div class="menu">
      <h2 id = "entrantesShow" onclick = "hideShow('entrantes')">Entrantes</h2>
      <div id = "entrantes" > 
        <menu-card title = 'Pan de ajo'
          descripcion = "Pan recien horneado con ajo y mantequilla"
          image= "https://canalcocina.es/medias/images/0001020321MasasSaladasEp15PanDeHojaldreConSAjo2.jpg">  
        </menu-card>
        <menu-card title= 'Queso asado' 
          descripcion = "Queso de La Palma asado con mojo rojo y verde"
          image= 'https://i2.wp.com/ochosabores.com/wp-content/uploads/2019/09/queso.jpg?fit=550%2C297&ssl=1'></menu-card>
        <menu-card title= 'Queso frito' 
          descripcion = "Queso camembert rebosado y frito con mermelada de arándanos"
          image= 'https://imag.bonviveur.com/fotografia-principal-queso-frito.jpg'></menu-card>
        <menu-card title= 'Tequeños' 
          descripcion = "Queso blanco empanado y frito acompañado de mermelada de fresa"
          image= 'https://cdn7.recetasdeescandalo.com/wp-content/uploads/2021/02/Tequenos-venezolanos-de-queso-con-masa-casera-y-crujiente.jpg'></menu-card>
        <menu-card title = 'Papas con mojo' 
          descripcion = "Papas canarias arrugadas con mojo rojo y verde"
          image= "https://img2.rtve.es/imagenes/papas-arrugadas-dani-garcia/1557939714838.png"></menu-card>
        <menu-card title= 'Gambas al ajillo' 
          descripcion = "Gambas y ajos fritos en aceite de oliva"
          image= 'https://www.recetasfacilesparasolteros.website/wp-content/uploads/2020/04/Gambas-al-ajillo-1200.jpg'></menu-card>
        <menu-card title= 'Croquetas' 
          descripcion = "Croquetas variadas"
          image= 'https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/01/12/16420042054594.jpg'></menu-card>
        <menu-card title= 'Berenjenas fritas y miel' 
          descripcion = "Berenjenas rebozadas y fritas con miel de palma"
          image= 'https://www.restaurantescarmela.com/wp-content/uploads/2019/10/berenjenas-fritas-con-miel.jpg'></menu-card>
      </div>
      
      <h2 id = "pastasShow" onclick = "hideShow('pastas')">Pastas</h2>
      <div id = "pastas"> 
        <menu-card title="Lasaña" 
          descripcion = "Lasaña boloñesa" 
          image = "https://assets.unileversolutions.com/recipes-v2/232080.jpg"></menu-card>
        <menu-card title= 'Tortellini' 
          descripcion = "Tortellini rellenos de carne en salsa de champiñones y bacon"
          image = "https://unareceta.com/wp-content/uploads/2016/10/tortellini.jpg"></menu-card>
        <menu-card title = 'Saquitos de pera' 
          descripcion = "Saquitos rellenos de pera en salsa de queso"
          image = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGUAMDTdNkuhv23urZd0ToKy3Ue--6MshPwQ&usqp=CAU"></menu-card>
        <menu-card title = "Ñoquis" 
          descripcion = "Ñoquis con salsa a la boloñesa"
          image = 'https://cdn.elcocinerocasero.com/imagen/receta/1000/2016-05-26-18-07-22/noquis-con-salsa-bolonesa.jpeg'></menu-card>
      </div>
      
      <h2 id = "pizzasShow" onclick = "hideShow('pizzas')">Pizzas</h2>
      <div id = "pizzas"> 
        <menu-card title = 'Barbacoa'
          descripcion = "Pollo, bacon, carne molida y salsa barbacoa"
          image= "https://okdiario.com/img/2015/09/08/receta-pizza-barbacoa-655x368.jpg"></menu-card>
        <menu-card title= 'Carbonara' 
          descripcion = "Bacon, huevo, nata y champiñones"
          image= 'https://images.hola.com/imagenes/cocina/recetas/20200120158507/pizza-carbonara-con-huevo/0-770-845/pizza-carbonara-con-huevo-t.jpg'></menu-card>
        <menu-card title= 'Marinera' 
          descripcion = "Atun y gambas"
          image= 'https://i.pinimg.com/originals/dc/aa/c2/dcaac2b0e856eb586932c0c0c5cc94e9.jpg'></menu-card>
        <menu-card title= '4 quesos' 
          descripcion = "Queso mozarela, gorgonzola, fontina y parmesano"
          image= 'https://recetinas.com/wp-content/uploads/2018/04/pizza-cuatro-quesos.jpg'></menu-card>
      </div>
      
      <h2 id = "postresShow" onclick = "hideShow('postres')">Postres</h2>
      <div id = "postres"> 
        <menu-card title = 'Coulant de chocolate'
          descripcion = "Con helado de vainilla"
          image= "https://wakame-ibiza.com/wp-content/uploads/2022/05/coulant.jpg"></menu-card>
        <menu-card title= 'Tarta de manzana' 
          descripcion = "Con helado de vainilla"
          image= 'https://placeralplato.com/files/2018/10/Receta-de-tarta-de-manzana-con-helado-de-vainilla-y-salsa-caramelo.jpg'></menu-card>
        <menu-card title= 'Tres leches' 
          descripcion = "Con nata"
          image= 'https://cuk-it.com/wp-content/uploads/2022/05/thumb03-1024x576.jpg'></menu-card>
        <menu-card title= 'Brownie' 
          descripcion = "Con helado de vainilla"
          image= 'https://es.rc-cdn.community.thermomix.com/recipeimage/mefmdfat-fed33-856901-cfcd2-zjmzyp14/e9bc33a4-b95f-4cf3-b6a2-3730c1881abf/main/brownie-de-chocolate-con-helado-de-vanilla.jpg'></menu-card>
      </div>

    </div>

    <script>
      showInfo = false;
      document.getElementById('entrantes').style.display = 'none';
      document.getElementById('pastas').style.display = 'none';
      document.getElementById('pizzas').style.display = 'none';
      document.getElementById('postres').style.display = 'none';

      function hideShow(idInfo) {
        showInfo= !showInfo;

        const info = document.getElementById(idInfo);

        if (showInfo) { 
          info.style.display = 'grid';
        } else {
          info.style.display = 'none'; 
          }
      }
    </script>
    <script src="/web_comp/menu.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js""></script>
    <script type="module">

      var config = {
        apiKey: "AIzaSyDI4HbhlpQpot5ZfHRgckU5hhGtSs07Gzs",
        authDomain: "hotel-8994a.firebaseapp.com",
        projectId: "hotel-8994a",
        storageBucket: "hotel-8994a.appspot.com",
        messagingSenderId: "782345019030",
        appId: "1:782345019030:web:67e4c80427fcccf3b6ecb7",
        measurementId: "G-VY0VFV415N"
      };

     firebase.initializeApp(config);

    </script>
  </body>
</html>

<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title> Paradise Resort</title>
  </head>
  
  <body>

    <header id="cabecera_rest">
      <a href="/">
        <img class="logotipo" alt="logotipo" src="/img/paradise_transparente.png">
      </a> 
      
      <h1>PARADISE RESORT RESTAURANT</h1>
    </header>

    <h3 class = "title">Disfruta de nuestros exquisitos platos</h3>

    <div id="menu">
        <h1> Pastas </h1>
        <menu-card 
            v-for="(pasta, index) in pastas"
            :key = "index"
            :title = "pasta.title"
            :image ="pasta.image">
        </menu-card>
        <h1> Pizzas </h1>
        <menu-card 
            v-for="(pizza, index) in pizzas"
            :key = "index"
            :title = "pizza.title"
            :image ="pizza.image">
        </menu-card>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="/web_comp/menu.js"></script>
  </body>
</html> -->

